body {
    @import url('https://fonts.googleapis.com/css?family=Arimo');
    font-family: 'Arimo', sans-serif !important;
}

h1, .show__card__header {
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
    font-family: 'Pacifico', cursive !important;
}

.nav {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.icon__name {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
}
