.nav {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.icon__name {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
}