//COLORS
$color-white: #fff;
$color-light-grey: #eee;
$color-light-grey2: #bbb;
$color-dark-grey: #445;
$color-light-blue: #AEE;

//FONT
$default-font-size: 1.6rem;

$navigation-font-size: 1.5rem;
$navigation-height: 5rem;
$navigation-link-rspacing: 7rem;
$navigation-tpadding: 1.5rem;

$icon-margin-top: 1.5rem;
$icon-size: 4rem;
$icon-name-padding: 2px;
$icon-font-size: 1.4rem;

$header-height: 20rem;
$photo-dimension: 9rem;
