/***************/ 
/*   GLOBAL    */
/***************/

// COLORS
$color-white: #fff;
$color-black: #000;
$color-light-grey: #eee;
$color-light-grey2: rgb(121, 121, 121);
$color-dark-grey: #445;
$color-green: rgba(0, 155, 114, 0.749);
$color-orange: rgba(242, 100, 48, 0.749);
$color-purple: rgba(103, 97, 168, 0.749);

// FONT
$default-font-size: 1.6rem;

/***************/ 
/*    ICON     */
/***************/

// FONT
$icon-size: 2rem;

// SPACING
$icon-margin: 1rem;
$icon-margin-bottom: 5px;


/***************/ 
/*  PILL LABEL */
/***************/

// FONT
$pill-skill-font-size: .9rem;
$pill-project-font-size: .9rem;

// SPACING
$pill-name-padding: 2px;
$pill-border-radius: .2rem;


/***************/ 
/*    CARD     */
/***************/

// FONT
$card-font-size: 2rem;

// SPACING
$card-padding: 0px;
$card-padding-top: 1rem;

/***************/ 
/*    HEADER   */
/***************/

// SPACING
$header-margin-bottom: 0.5rem;

// SIZING
$header-height: 17.5rem;
$header-photo-dimension: 9rem;
$header-border-radius: 50%;

/***************/ 
/* NAVIGATION  */
/***************/

// COLORS
$nav-text-color: rgb(228, 217, 217) !important;
$nav-hover-color: rgb(121, 121, 121) !important;



/***************/ 
/*    MAIN     */
/***************/

// COLORS
$main-color-backgound: rgba(246,247,235, .7);
$main-color-hr: #666;

// SPACING
$main-border-radius: .7rem;
$main-padding: 1rem;


//FONT



