//COLORS
$color-white: #fff;
$color-light-grey: #eee;
$color-dark-grey: #445;

//FONT
$default-font-size: 1.6rem;
$navigation-font-size: 1.5rem;
$navigation-height: 5rem;
$navigation-link-rspacing: 7rem;
$navigation-bpadding: 1.2rem;

$header-height: 25rem;
$photo-dimension: 13rem;