.main {

    h1 {
        font-size: 6rem;
        border-bottom: 3px solid $color-dark-grey;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        margin-top: 2rem;
        font-size: 2rem;
    }

    section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &__about {
        &__content {
            @include grid__item--center;
        }
    }

    &__skills {
        @include grid__item__background--lgrey;

        &__content {
            @include grid__item--center;
            position: relative;

            #skills {
                position: absolute;
                top: -10rem;
            }
        }
    }

    &__projects {
        &__content {
            @include grid__item--center;
        }
    }

    &__contact {
        @include grid__item__background--lgrey;

        &__content {
            @include grid__item--center;
        }
    }
}