body {
    background-image: url('./../../img/webpage-bg.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .main {
        background-color: $main-color-backgound;
        border-radius: $main-border-radius;
        padding: $main-padding;
            

        hr {
            border: none;
            height: 2px;
            color: $main-color-hr;
            background-color: $main-color-hr;
        }
    }
}