.show {
    &__card {
        padding: $card-padding;

        &__header {
            padding-top: $card-padding-top;
            text-align: center;
            font-size: $card-font-size;
        
            &--green{
                border-bottom: 3px solid $color-green;
            }

            &--orange {
                border-bottom: 3px solid $color-orange;
            }

            &--purple {
                border-bottom: 3px solid $color-purple;
            }
        }
    }


}