.skill {
    &__card {
        margin-bottom: 1.5rem;
        background-color: #faf7f7;
        border-radius: 1rem;
        padding: 0px;

        &__header {
            padding-top: 1rem;
            text-align: center;
        }
    }
}