.icon {
    margin-top: $icon-margin;
    margin-bottom: $icon-margin;

    i {
        font-size: $icon-size !important;

    }

    img {
        width: $icon-size !important;
        margin-bottom: $icon-margin-bottom;
    }
}