.icon {
    margin-top: $icon-margin;
    margin-bottom: $icon-margin;
    //width: fit-content;
    //text-align: center;

    i {
        font-size: $icon-size !important;

    }

    img {
        width: $icon-size !important;
        margin-bottom: 5px;
    }

    &__name {
        width: fit-content;
        font-size: $icon-font-size;
        margin-left: auto;
        margin-right: auto;
        padding-right: $icon-name-padding;
        padding-left: $icon-name-padding;

        &--front {
            background-color: $color-green;
            border-radius: .2rem;
        }

        &--back {
            background-color: $color-orange;
            border-radius: .2rem;
        }

        &--tools {
            background-color: $color-purple;
            border-radius: .2rem;
        }
    }
}