.header {
    display: grid;
    
    &__picture {
        margin: auto;
    }
    
    &__name {
        margin: auto;
    }
    
    &__title {
        margin: auto;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "nav nav nav" 
        "main main main";
    
    .nav {
        grid-area: nav;
        display: flex;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: 
            "about about about"
            "skills skills skills"
            "projects projects projects"
            "contact contact contact";

        &__about {
            grid-area: about;
        }

        &__skills {
            grid-area: skills;

            &__content {
                .cards {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "front back tools";

                    .skill__card--front {
                        grid-area: front;

                        .icon__grid {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-areas: 
                                "item1 item2 item3" 
                                "item4 item5 .";
                    
                            //Gives each item a grid area and place-self value
                            @for $i from 1 through 5 {
                                &__item--#{$i} {
                                    grid-area: item#{$i};
                                    align-self: center;
                                    justify-self: center;
                                }
                            }
                        }
                    }
                    .skill__card--back {
                        grid-area: back;

                        .icon__grid {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-areas: 
                                "item1 item2 item3" 
                                "item4 . .";
                    
                            //Gives each item a grid area and place-self value
                            @for $i from 1 through 4 {
                                &__item--#{$i} {
                                    grid-area: item#{$i};
                                    align-self: center;
                                    justify-self: center;
                                }
                            }
                        }
                    }
                    .skill__card--tools {
                        grid-area: tools;

                        .icon__grid {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-areas: 
                                "item1 item2 item3" 
                                "item4 item5 .";
                    
                            //Gives each item a grid area and place-self value
                            @for $i from 1 through 5 {
                                &__item--#{$i} {
                                    grid-area: item#{$i};
                                    align-self: center;
                                    justify-self: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__projects {
            grid-area: projects;
        }

        &__contact {
            grid-area: contact;
        }
    }

    
}