.header {
    display: grid;
    
    &__picture {
        margin: auto;
    }
    
    &__name {
        margin: auto;
    }
    
    &__title {
        margin: auto;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "container__border--left nav container__border--right" 
        ". content ."; 

    .container__border { //There is no class .g-border, it's only for scss grouping
        &--left {
            border-bottom: 1px solid $color-light-grey;
            grid-area: container__border--left;
        }

        &--right {
            border-bottom: 1px solid $color-light-grey;
            grid-area: container__border--right;
        }
    }
    
    .nav {
        grid-area: nav;
        display: flex;
    }

    .content {
        grid-area: content;
    }
}