.header {
    height: $header-height;
    color: $color-white;

    &__picture {
        height: $header-photo-dimension;
        width: $header-photo-dimension;
        border-radius: $header-border-radius;
        object-fit: cover;
        margin-bottom: $header-margin-bottom;
    }
}