.header {
    height: $header-height;
    color: $color-white;

    &__picture {
        height: $photo-dimension;
        width: $photo-dimension;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }
}