.nav {
    font-size: $navigation-font-size;
    height: $navigation-height;
    border-bottom: 1px solid $color-light-grey;
    
    a {
        margin-top: auto;
        margin-right: $navigation-link-rspacing;
        color: $color-dark-grey;
        text-decoration: none;
        border-bottom: 1px solid $color-dark-grey;
        padding-bottom: $navigation-bpadding;
    }

    &__content {
        @include grid__item--center;
    }
}