.nav {
    font-size: $navigation-font-size;
    height: $navigation-height;
    border-bottom: 1px solid $color-light-grey;
    position: -webkit-sticky; // Safari support
    position: sticky;
    top: 0;
    background-color: $color-white;
    z-index: 10;
    
    a {
        margin-right: $navigation-link-rspacing;
        color: $color-dark-grey;
        text-decoration: none;
        padding-bottom: $navigation-bpadding;
        
        &:hover {
            //TODO add JS code for link when clicked
            border-bottom: 1px solid $color-dark-grey;
        }
    }

    &__content {
        @include grid__item--center;
    }
}