.nav {
    font-size: $navigation-font-size;
    height: $navigation-height;
    position: -webkit-sticky; // Safari support
    position: sticky;
    top: 0;
    background-color: $color-white;
    z-index: 10;
    border: 1px solid $color-light-grey;
    padding-top: $navigation-tpadding;
    
    a {
        margin-right: $navigation-link-rspacing;
        color: $color-dark-grey;
        text-decoration: none;
        
        &:hover {
            //TODO add JS code for link when clicked
            border-bottom: 1px solid $color-dark-grey;
        }
    }
}